__pycache__/*
app/__pycache__/*
app/api/__pycache__/*
app/core/__pycache__/*
app/db/__pycache__/*
app/schemas/__pycache__/*
app/utils/__pycache__/*
app/scripts/__pycache__/*
app/tests/__pycache__/*
env
.env*
.DS_Store
